body {
    background-color: teal;
  }
  
  .banner {
    background-color: royalblue;
    padding: 10px;
    color: white;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: royalblue;
    padding: 10px;
    color: white;
  }
  
  .navbar-links {
    display: flex;
    gap: 10px;
  }
  
  .navbar-links > * {
    margin-left: 10px;
  }
  
  .navbar-title {
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
  }
  